<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".sindhikeyboard.ads.ApplicationClass"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.SindhiKeyboard_new"
        tools:targetApi="31">
        <activity
            android:name=".sindhikeyboard.ui.activities.SplashActivity"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".sindhikeyboard.ui.activities.SOTStartActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".sindhikeyboard.ui.activities.StickersDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".sindhikeyboard.ui.activities.StickersViewActivity"
            android:exported="false" />
        <activity
            android:name=".sindhikeyboard.ui.activities.FOFStartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sindhikeyboard.ui.activities.KeyboardSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".sindhikeyboard.ui.activities.NavigationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan"
            tools:replace="android:theme" />

        <service
            android:name=".sindhikeyboard.jetpack_version.service.CustomImeService"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name=".sindhikeyboard.utils.FirebaseMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1303570666836639" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="4f93ceda9e21fa9ce682303346abb5b4" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>